:host {
  & ::ng-deep {
    div {
      padding: 1rem;
      // color: #a78120;
    }

    img,
    .user-img__gravatar {
      padding: 1rem;
      min-width: 6rem;
      -moz-box-sizing: content-box;
    }

    .user-img__gravatar {
      border-radius: 50%;
      object-fit: cover;
      padding: 0;
      min-width: unset;
    }

    i {
      color: var(--text-main);
      font-size: 3.5rem;
    }
  }
}
@-moz-document url-prefix() {
  img {
    min-width: 4.5rem !important;
  }
}
