<div class="grid container-cards">
  <div class="col-12 sm:col-12 md:col-8 lg:col-9 ">
    <div class="grid cards-days">
      <div class="col-12 sm:col-6 md:col-6 lg:col-3">
        <app-card-day day="Monday"></app-card-day>
      </div>
      <div class="col-12 sm:col-6 md:col-6 lg:col-3">
        <app-card-day day="Tuesday"></app-card-day>
      </div>
      <div class="col-12 sm:col-6 md:col-6 lg:col-3">
        <app-card-day day="Wednesday"></app-card-day>
      </div>
      <div class="col-12 sm:col-6 md:col-6 lg:col-3">
        <app-card-day day="Thursday"></app-card-day>
      </div>

    </div>

    <div class="grid cards-days">
      <div class="col-12 sm:col-6 md:col-6 lg:col-3">
        <app-card-day day="Friday"></app-card-day>
      </div>
      <div class="col-12 sm:col-6 md:col-6 lg:col-3">
        <app-card-day day="Saturday"></app-card-day>
      </div>
      <div class="col-12 sm:col-6 md:col-6 lg:col-3">
        <app-card-day day="Sunday"></app-card-day>
      </div>
      <div class="col-12 sm:col-6 md:col-6 lg:col-3">
        <app-card title="Notes"></app-card>
      </div>
    </div>
  </div>

  <div class="col-12 sm:col-12 md:col-4 lg:col-3 ">
    <div class="grid">
      <div class="col-12 md:col-12">
        <app-card title="Calendar"></app-card>
      </div>
      <div class="col-12 md:col-12">
        <app-card title="To Do"></app-card>
      </div>
    </div>
  </div>

</div>