<div class="grid container-cards">
  <div class="col-10 ">
    <div class="grid cards-days">
      <div class="col">
        <app-card-day day="Monday"></app-card-day>
      </div>
      <div class="col">
        <app-card-day day="Tuesday"></app-card-day>
      </div>
      <div class="col">
        <app-card-day day="Wednesday"></app-card-day>
      </div>
      <div class="col">
        <app-card-day day="Thursday"></app-card-day>
      </div>
      <div class="col">
        <app-card-day day="Friday"></app-card-day>
      </div>
    </div>

    <div class="grid cards-days">
      <div class="col">
        <app-card-day day="Saturday"></app-card-day>
      </div>
      <div class="col">
        <app-card-day day="Sunday"></app-card-day>
      </div>
      <div class="col">
        <app-card title="Notes"></app-card>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="grid">
      <div class="col-12">
        <app-card title="Calendar"></app-card>
      </div>
      <div class="col-12">
        <app-card title="To Do"></app-card>
      </div>
    </div>
  </div>


</div>