.container-cards {
  margin: 10px 20px 0;
  min-height: calc(100vh - 176.8px);
  height: max-content;
}

.cards-days {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .col-calend {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -24px;
  }
}

@media (min-width: 768px) {
  .col-calend {
    display: flex;
    flex-direction: column;
    margin-top: -8px;
  }
}