<p-toast key="notification" position="top-right" styleClass="default"></p-toast>

<div class="dialog-body">
  <p>
    {{ 'recover.intro' | translate }}
  </p>

  <form [formGroup]="form">
    <div class="field">
      <input
        type="email"
        pInputText
        required
        class="p-inputtext p-inputtext-md"
        formControlName="email"
        [placeholder]="'auth.typeEmail' | translate"
      />
      <small
        class="p-error"
        *ngIf="formControl.email.touched && formControl.email.errors?.required"
      >
        {{ 'auth.emailRequired' | translate }}
      </small>

      <small
        class="p-error"
        *ngIf="formControl.email.touched && formControl.email.errors?.email"
      >
        {{ 'auth.emailInvalid' | translate }}
      </small>
    </div>
  </form>
</div>

<div class="footer">
  <p-button
    [disabled]="form.invalid"
    (onClick)="submit()"
    [label]="'recover.submit' | translate"
  ></p-button>
</div>
