<p-card class="container-card">

  <div>
    <img src="../../../assets/pin.png" *ngIf="day == weekDay" alt="pin">
    <h2 *ngIf="day">{{ day }}</h2>
    <h3 *ngIf="titleBox">{{ titleBox }}</h3>
  </div>

  <ng-container *ngIf="day || titleBox != 'Calendar'">
    <ng-container *ngIf="items$ | async as items">
      <ul class="item" *ngIf="items.length > 0">
        <ng-container *ngFor="let item of items">
          <ng-container *ngIf="item.where === box">
            <li [ngClass]="{
              task: item.type === 'task',
              event: item.type === 'event',
              appointment: item.type === 'appointment',
              note: item.type === 'note',
              tv: item.type === 'tv',
              finished: item.finished,
              started: item.started,
              important: item.important,
              canceled: item.canceled
            }" (click)="facade.actionsControl(item._id, null, null, null)">
              <i *ngIf="item.type === 'task' && !item.finished" class="pi pi-circle-off"></i>
              <i *ngIf="item.type === 'task' && item.finished" class="pi pi-check-circle"></i>
              <i *ngIf="item.type === 'event'" class="pi pi-circle-on"></i>
              <i *ngIf="item.type === 'appointment'" class="pi pi-calendar"></i>
              <i *ngIf="item.type === 'note'" class="pi pi-file"></i>
              <i *ngIf="item.type === 'tv'" class="pi pi-youtube"></i>

              <span>{{ item.description }}
                <i *ngIf="item.important" class="pi pi-exclamation-triangle"></i>
              </span>

              <p class="obs" *ngIf="item.obs !== ''"> <i class="pi pi-reply"></i>{{item.obs}}</p>

              <app-actions-item *ngIf="item._id === facade.currentId" [item]="item">
              </app-actions-item>
            </li>
          </ng-container>
        </ng-container>
      </ul>

      <ng-template pTemplate="footer">
      </ng-template>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="titleBox === 'Calendar'">
    <p-calendar [(ngModel)]="value" [inline]="true"> </p-calendar>
  </ng-container>

</p-card>