<div class="week-nav">
  <button
    pButton
    type="button"
    icon="pi pi-chevron-left"
    class="p-button-rounded p-button-text week-nav__arrow"
    (click)="previousWeek()"
    [attr.aria-label]="'weekNav.previous' | translate"
  ></button>

  <div class="week-nav__center">
    <strong>{{ weekLabel$ | async }}</strong>
    <button
      *ngIf="!(isCurrentWeek$ | async)"
      pButton
      type="button"
      [label]="'weekNav.today' | translate"
      class="p-button-text p-button-sm week-nav__today"
      (click)="goToToday()"
    ></button>
  </div>

  <button
    pButton
    type="button"
    icon="pi pi-chevron-right"
    class="p-button-rounded p-button-text week-nav__arrow"
    (click)="nextWeek()"
    [attr.aria-label]="'weekNav.next' | translate"
  ></button>
</div>
