<div class="chart-content">
  <p-chart
    *ngIf="items.length"
    class="chart-container"
    [options]="pieChartOptions"
    type="pie"
    [data]="data"
    [responsive]="true"
  ></p-chart>

  <div class="total">Total tasks: {{ items.length }}</div>

  <section class="project-stats" *ngIf="projects.length">
    <h3>By project</h3>
    <ul class="project-stats__list">
      <li class="project-stats__row" *ngFor="let project of projects">
        <span class="project-stats__name" [style.color]="project.color">
          <i [class]="iconClass(project.icon)" aria-hidden="true"></i>
          {{ project.name }}
        </span>
        <span class="project-stats__meta">{{ project.open_tasks_count ?? 0 }} open</span>
        <span class="project-stats__meta">{{ formatFocusTime(project.focus_seconds_total) }} focus</span>
      </li>
    </ul>
  </section>
</div>
