<p-toast key="notification" position="top-right"></p-toast>

<div class="container-register">
 

  <h1>{{ 'newPassword.title' | translate }}</h1>

  <div class="grid">
    <p-card class="col-12">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="field">
            <label for="password" class="block">{{ 'newPassword.label' | translate }}</label>
            <p-password
              [toggleMask]="true"
              formControlName="password"
              [placeholder]="'auth.typePassword' | translate"
              styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            >
              <ng-template pTemplate="header">
                <h6>{{ 'register.pickPassword' | translate }}</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="mt-2">{{ 'account.suggestions' | translate }}</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                  <li>{{ 'register.ruleLowercase' | translate }}</li>
                  <li>{{ 'register.ruleUppercase' | translate }}</li>
                  <li>{{ 'register.ruleNumeric' | translate }}</li>
                  <li>{{ 'register.ruleMin' | translate }}</li>
                </ul>
              </ng-template>
            </p-password>
            <small
              class="p-error"
              *ngIf="
                formControl.password.touched &&
                formControl.password.errors?.required
              "
            >
              {{ 'auth.passwordRequired' | translate }}
            </small>
          </div>

          <div class="field">
            <label for="confirmPassword" class="block">{{ 'register.confirmPassword' | translate }}</label>

            <p-password
              required
              formControlName="confirmPassword"
              [placeholder]="'register.confirmPasswordPlaceholder' | translate"
              [feedback]="false"
              [toggleMask]="true"
              styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            ></p-password>

            <small
              class="p-error"
              *ngIf="
                formControl.confirmPassword.touched &&
                formControl.confirmPassword.errors?.required
              "
            >
              {{ 'auth.passwordRequired' | translate }}
            </small>

            <small
              class="p-error"
              *ngIf="
                formControl.confirmPassword.touched &&
                formControl.confirmPassword.errors?.passwordMismatch
              "
            >
              {{ 'register.passwordMismatch' | translate }}
            </small>
          </div>
        </form>
      </div>

      <div class="footer">
        <p-button
          [disabled]="form.invalid"
          (onClick)="submit()"
          [label]="'common.save' | translate"
        ></p-button>
      </div>
    </p-card>

    <div class="logo" [routerLink]="['/']">
      <h3>{{ 'header.weeklyPlanner' | translate }}</h3>
    </div>

  </div>
</div>
<app-footer></app-footer>