<p-toast key="notification" position="top-right"></p-toast>

<div class="container-register">
  <h1>New Password</h1>

  <div class="grid">
    <p-card class="col-12">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="field">
            <label for="password" class="block">New Password</label>
            <p-password
              [toggleMask]="true"
              formControlName="password"
              placeholder="Type your password"
              styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            >
              <ng-template pTemplate="header">
                <h6>Pick a password</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="mt-2">Suggestions</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                  <li>At least one lowercase</li>
                  <li>At least one uppercase</li>
                  <li>At least one numeric</li>
                  <li>Minimum 8 characters</li>
                </ul>
              </ng-template>
            </p-password>
            <small
              class="p-error"
              *ngIf="
                formControl.password.touched &&
                formControl.password.errors?.required
              "
            >
              Password is required
            </small>
          </div>

          <div class="field">
            <label for="confirmPassword" class="block">Confirm Password</label>

            <p-password
              required
              formControlName="confirmPassword"
              placeholder="Confirm your password"
              [feedback]="false"
              [toggleMask]="true"
              styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            ></p-password>

            <small
              class="p-error"
              *ngIf="
                formControl.confirmPassword.touched &&
                formControl.confirmPassword.errors?.required
              "
            >
              Password is required
            </small>

            <small
              class="p-error"
              *ngIf="
                formControl.confirmPassword.touched &&
                formControl.confirmPassword.errors?.passwordMismatch
              "
            >
              Passwords don't match
            </small>
          </div>
        </form>
      </div>

      <div class="footer">
        <p-button
          [disabled]="form.invalid"
          (onClick)="submit()"
          label="Save"
        ></p-button>
      </div>
    </p-card>

    <i id="home" [routerLink]="['/']" class="pi pi-home"></i>
  </div>
</div>
<app-footer></app-footer>