:host {
  & ::ng-deep {
    .container-register {
      width: 100%;
      min-height: calc(100vh - 59.2px);
      max-height: calc(100vh - 59.2px);
    }

    .grid {
      max-width: 500px;
      margin: 0 auto;
    }

    h1 {
      margin: 0;
      padding: 30px;
      text-align: center;
    }

    .p-card {
      padding: 1.5rem;
      & .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & form {
          width: 100%;
          & input {
            width: 100% !important;
          }
        }
      }

      & .p-card-body {
        height: inherit !important;
      }

      & .p-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: inherit;
      }
    }

    .footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .p-button {
      background-color: #eec41e;
      border-color: #eec41e;

      &:hover {
        background-color: #ddb517;
        border-color: #ddb517;
      }
    }
  }
}
