:host {
  & ::ng-deep {
    min-width: 500px;

    & .p-speeddial {
      left: 1rem;
      top: 1rem;
      width: max-content;
    }

    & .p-speeddial:not(.p-speeddial-opened):not(.p-speeddial-open) .p-speeddial-list {
      pointer-events: none !important;
      visibility: hidden;
    }

    & .p-speeddial-button {
      backdrop-filter: blur(6px);
      border: 1px solid var(--surface-border);
    }
  }
}
  