<p-speedDial
  [model]="leftTooltipItems"
  direction="down"
  [transitionDelay]="80"
  showIcon="pi pi-bars"
  [mask]="false"
  hideIcon="pi pi-times"
  buttonClassName="p-button-raised p-button-warning p-button-text"
></p-speedDial>

<p-dialog
  header="Escolha o tema"
  [(visible)]="theme"
  [style]="{ width: 'max-content', height: 'max-content' }"
  [modal]="true"
  [appendTo]="'body'"
  [styleClass]="themeService.theme + ' modal'"
>
  <p-select
    [options]="themes"
    [(ngModel)]="themeService.theme"
    placeholder="Selecione"
    optionLabel="name"
    optionValue="code"
    (ngModelChange)="changeTheme($event)"
  ></p-select>
</p-dialog>

<p-confirmDialog
  header="Do you want to reset the week?"
  icon="pi pi-exclamation-triangle"
  acceptButtonStyleClass="p-button-success"
  rejectButtonStyleClass="p-button-danger"
  [appendTo]="'body'"
  [styleClass]="themeService.theme + ' modal'"
>
</p-confirmDialog>
