<p-speedDial
  [model]="leftTooltipItems"
  direction="down"
  [transitionDelay]="80"
  showIcon="pi pi-bars"
  [mask]="false"
  hideIcon="pi pi-times"
  buttonClassName="p-button-secondary"
></p-speedDial>

<p-dialog
  header="Escolha o Tema"
  [(visible)]="theme"
  [breakpoints]="{ '960px': '50vw', '640px': '80vw' }"
  [style]="{ width: '30vw' }"
>
  <p-dropdown
    [options]="themes"
    [(ngModel)]="themeService.theme"
    placeholder="Seleciona um tema"
    optionLabel="name"
    optionValue="code"
    (ngModelChange)="changeTheme($event)"
  ></p-dropdown>
</p-dialog>

<p-confirmDialog
  header="Resetar a Semana?"
  icon="pi pi-exclamation-triangle"
  acceptButtonStyleClass="p-button-success"
  acceptLabel="Sim"
  rejectButtonStyleClass="p-button-danger"
  rejectLabel="Não"
>
</p-confirmDialog>
