<p-speedDial
  [model]="leftTooltipItems"
  direction="down"
  [transitionDelay]="80"
  showIcon="pi pi-bars"
  [mask]="true"
  hideIcon="pi pi-times"

  buttonClassName="p-button-raised p-button-warning p-button-text"
></p-speedDial>

<p-dialog
  header="Choose the theme"
  [(visible)]="theme"
  [style]="{ width: 'max-content' }"
  [modal]="true"
>
  <p-dropdown
    [options]="themes"
    [(ngModel)]="themeService.theme"
    placeholder="choose the theme"
    optionLabel="name"
    optionValue="code"
    (ngModelChange)="changeTheme($event)"
  ></p-dropdown>
</p-dialog>

<p-confirmDialog
  header="Do you want to reset the week?"
  icon="pi pi-exclamation-triangle"
  acceptButtonStyleClass="p-button-success"
  rejectButtonStyleClass="p-button-danger"
>
</p-confirmDialog>
