<div class="new-item">
  <button
    pButton
    pRipple
    pTooltip="New Item"
    type="button"
    (click)="newItem()"
    icon="pi pi-plus"
    tooltipPosition="left"
    class="p-button-rounded"
  ></button>
</div>

<app-week-nav></app-week-nav>

<ng-container *ngIf="weekView$ | async as weekView">
  <div class="grid container-cards">
    <div class="col-12 sm:col-12 md:col-8 lg:col-9">
      <div class="grid cards-days">
        <div
          class="col-12 sm:col-6 md:col-6 lg:col-3"
          *ngFor="let column of weekView.dayColumns | slice:0:4"
          [ngClass]="{ 'today-is': isTodayColumn(column.dateKey, weekView.todayKey) }"
        >
          <app-card
            [items]="(items$ | async) || []"
            [box]="column.box"
            [day]="column.day"
            [columnDateKey]="column.dateKey"
            [columnDateLabel]="column.dateLabel"
            [isTodayColumn]="isTodayColumn(column.dateKey, weekView.todayKey)"
          ></app-card>
        </div>
      </div>

      <div class="grid cards-days">
        <div
          class="col-12 sm:col-6 md:col-6 lg:col-3"
          *ngFor="let column of weekView.dayColumns | slice:4:7"
          [ngClass]="{ 'today-is': isTodayColumn(column.dateKey, weekView.todayKey) }"
        >
          <app-card
            [items]="(items$ | async) || []"
            [box]="column.box"
            [day]="column.day"
            [columnDateKey]="column.dateKey"
            [columnDateLabel]="column.dateLabel"
            [isTodayColumn]="isTodayColumn(column.dateKey, weekView.todayKey)"
          ></app-card>
        </div>
        <div class="col-12 sm:col-6 md:col-6 lg:col-3">
          <app-card [items]="(items$ | async) || []" box="notes" titleBox="Notes"></app-card>
        </div>
      </div>
    </div>

    <div class="col-12 sm:col-12 md:col-4 lg:col-3">
      <div class="grid col-calend">
        <div class="col-12 md:col-12">
          <app-card titleBox="Calendar"></app-card>
        </div>
        <div class="col-12 md:col-12">
          <app-overdue-panel *ngIf="weekView.isCurrentWeek"></app-overdue-panel>
          <app-card [items]="(items$ | async) || []" box="todo" titleBox="To Do"></app-card>
        </div>
      </div>
    </div>
  </div>
</ng-container>
