<div class="new-item">
  <button
    pButton
    pRipple
    pTooltip="New Item"
    type="button"
    (click)="newItem()"
    icon="pi pi-plus"
    tooltipPosition="left"
    class="p-button-rounded"
  ></button>
</div>

<div class="grid container-cards">
  <div class="col-12 sm:col-12 md:col-8 lg:col-9">
    <div class="grid cards-days">
      <div
        class="col-12 sm:col-6 md:col-6 lg:col-3"
        [ngClass]="{ 'today-is': weekDay === 'monday' }"
      >
        <app-card [items]="items" box="mon" day="Monday"></app-card>
      </div>
      <div
        class="col-12 sm:col-6 md:col-6 lg:col-3"
        [ngClass]="{ 'today-is': weekDay === 'Tuesday' }"
      >
        <app-card [items]="items" box="tue" day="Tuesday"></app-card>
      </div>
      <div
        class="col-12 sm:col-6 md:col-6 lg:col-3"
        [ngClass]="{ 'today-is': weekDay === 'wednesday' }"
      >
        <app-card [items]="items" box="wed" day="Wednesday"></app-card>
      </div>
      <div
        class="col-12 sm:col-6 md:col-6 lg:col-3"
        [ngClass]="{ 'today-is': weekDay === 'thursday' }"
      >
        <app-card [items]="items" box="thu" day="Thursday"></app-card>
      </div>
    </div>

    <div class="grid cards-days">
      <div
        class="col-12 sm:col-6 md:col-6 lg:col-3"
        [ngClass]="{ 'today-is': weekDay === 'friday' }"
      >
        <app-card [items]="items" box="fri" day="Friday"></app-card>
      </div>
      <div
        class="col-12 sm:col-6 md:col-6 lg:col-3"
        [ngClass]="{ 'today-is': weekDay === 'saturday' }"
      >
        <app-card [items]="items" box="sat" day="Saturday"></app-card>
      </div>
      <div
        class="col-12 sm:col-6 md:col-6 lg:col-3"
        [ngClass]="{ 'today-is': weekDay === 'sunday' }"
      >
        <app-card [items]="items" box="sun" day="Sunday"></app-card>
      </div>
      <div class="col-12 sm:col-6 md:col-6 lg:col-3">
        <app-card [items]="items" box="notes" titleBox="Notes"></app-card>
      </div>
    </div>
  </div>

  <div class="col-12 sm:col-12 md:col-4 lg:col-3">
    <div class="grid col-calend">
      <div class="col-12 md:col-12">
        <app-card titleBox="Calendar"></app-card>
      </div>
      <div class="col-12 md:col-12">
        <app-card [items]="items" box="todo" titleBox="To Do"></app-card>
      </div>
    </div>
  </div>
</div>
