:host {
  & ::ng-deep {
    min-width: 500px;

    .container-cards {
      margin: 3rem;
      min-height: calc(100vh - 176.8px);
      height: max-content;
    }

    .cards-days {
      margin-bottom: 8px;
    }

    @media (max-width: 768px) {
      .container-cards {
        margin: 1rem;
      }

      .col-calend {
        display: flex;
        flex-direction: column-reverse;
        margin-top: -24px;
      }
    }

    @media (min-width: 768px) {
      .col-calend {
        display: flex;
        flex-direction: column;
        margin-top: -8px;
      }
    }

    @media (min-width: 1500px) {
      .container-cards {
        max-width: 1500px;
        margin: 3rem auto;
      }
    }
  }
}
