<form [formGroup]="form">
  <div class="formgrid grid">
    <div class="field col-12 sm:col-6 md:col-4 lg:col-4">
      <p-select
        [options]="type"
        placeholder="Type"
        optionLabel="name"
        optionValue="code"
        formControlName="type"
      >
      </p-select>
    </div>

    <div class="field col-12 sm:col-6 md:col-8 lg:col-8">
      <input
        type="text"
        pInputText
        required
        class="p-inputtext p-inputtext-md"
        formControlName="description"
        placeholder="Description"
      />
    </div>
  </div>

  <div class="field">
    <input
      type="text"
      formControlName="obs"
      pInputText
      class="p-inputtext p-inputtext-md"
      placeholder="Observation"
    />
  </div>

  <div class="field placement-field">
    <label for="scheduledDate" class="placement-label">Date</label>
    <p-datepicker
      inputId="scheduledDate"
      formControlName="scheduledDate"
      dateFormat="dd M yy"
      [showIcon]="true"
      [showButtonBar]="true"
      placeholder="Pick a day for this item"
    ></p-datepicker>
    <small class="placement-hint">Use a date to schedule in any week. Notes and To Do are general lists.</small>
  </div>

  <div class="field where-check">
    <div class="p-field-checkbox">
      <p-checkbox formControlName="notes" [binary]="true" inputId="notes"></p-checkbox>
      <label for="notes">Notes</label>
    </div>
    <div class="p-field-checkbox">
      <p-checkbox formControlName="todo" [binary]="true" inputId="todo"></p-checkbox>
      <label for="todo">To Do</label>
    </div>
  </div>

  <div id="button-div">
    <button
      pButton
      pRipple
      type="submit"
      (keydown.enter)="newItem()"
      label="Save"
      class="p-button-raised p-button-success"
      (click)="newItem()"
    ></button>
  </div>
</form>
<p-toast position="bottom-center"></p-toast>
