<form [formGroup]="form">
  <div class="formgrid grid">
    <div class="field col-12 sm:col-6 md:col-4 lg:col-4">
      <p-dropdown
        [options]="type"
        placeholder="Type"
        optionLabel="name"
        optionValue="code"
        formControlName="type"
      >
      </p-dropdown>
    </div>

    <div class="field col-12 sm:col-6 md:col-8 lg:col-8">
      <input
        type="text"
        pInputText
        required
        class="p-inputtext p-inputtext-md"
        formControlName="description"
        placeholder="Description"
      />
    </div>
  </div>

  <div class="field">
    <input
      type="text"
      formControlName="obs"
      pInputText
      class="p-inputtext p-inputtext-md"
      placeholder="Observation"
    />
  </div>

  <div class="formgrid grid">
    <div class="field where-check col-12 sm:col-6 md:col-6 lg:col-6">
      <div class="p-field-checkbox">
        <p-checkbox
          #checkbox
          type="checkbox"
          (onChange)="onCheckChanges('mon', $event)"
          name="where"
          value="mon"
          inputId="mon"
        >
        </p-checkbox>
        <label for="mon">M</label>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox
          #checkbox
          type="checkbox"
          (onChange)="onCheckChanges('tue', $event)"
          name="where"
          value="tue"
          inputId="tue"
        >
        </p-checkbox>
        <label for="tue">T</label>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox
          #checkbox
          type="checkbox"
          (onChange)="onCheckChanges('wed', $event)"
          name="where"
          value="wed"
          inputId="wed"
        >
        </p-checkbox>
        <label for="wed">W</label>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox
          #checkbox
          type="checkbox"
          (onChange)="onCheckChanges('thu', $event)"
          name="where"
          value="thu"
          inputId="thu"
        >
        </p-checkbox>
        <label for="thu">T</label>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox
          #checkbox
          type="checkbox"
          (onChange)="onCheckChanges('fri', $event)"
          name="where"
          value="fri"
          inputId="fri"
        >
        </p-checkbox>
        <label for="fri">F</label>
      </div>
    </div>

    <div class="field where-check col-12 sm:col-6 md:col-6 lg:col-6">
      <div class="p-field-checkbox">
        <p-checkbox
          #checkbox
          type="checkbox"
          (onChange)="onCheckChanges('sat', $event)"
          name="where"
          value="sat"
          inputId="sat"
        >
        </p-checkbox>
        <label for="sat">S</label>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox
          #checkbox
          type="checkbox"
          (onChange)="onCheckChanges('sun', $event)"
          name="where"
          value="sun"
          inputId="sun"
        >
        </p-checkbox>
        <label for="sun">S</label>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox
          #checkbox
          type="checkbox"
          (onChange)="onCheckChanges('notes', $event)"
          name="where"
          value="notes"
          inputId="notes"
        ></p-checkbox>
        <label for="notes">Notes</label>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox
          #checkbox
          type="checkbox"
          (onChange)="onCheckChanges('todo', $event)"
          name="where"
          value="todo"
          inputId="todo"
        >
        </p-checkbox>
        <label for="todo">To Do</label>
      </div>
    </div>
  </div>

  <!-- <div class="row01">
    <p-dropdown [options]="type"  placeholder="Type" optionLabel="name" optionValue="code" formControlName="type">
    </p-dropdown>
    <input type="text" pInputText required class="p-inputtext p-inputtext-md" formControlName="description"
      placeholder="Description">

  </div>

  <input type="text" formControlName="obs" pInputText class="p-inputtext p-inputtext-md" placeholder="Observation">

  <div class="where-check">
    

  </div>

   -->
  <div id="button-div">
    <button
      pButton
      pRipple
      type="submit"
      label="Save"
      class="p-button-raised p-button-success"
      (click)="newItem()"
    ></button>
  </div>
</form>

<p-toast position="bottom-center"></p-toast>
