<form [formGroup]="form">
  <div class="formgrid grid">
    <div class="field col-12 sm:col-6 md:col-4 lg:col-4">
      <p-select
        [options]="type"
        [placeholder]="'form.type' | translate"
        optionLabel="name"
        optionValue="code"
        formControlName="type"
        appendTo="body"
      >
      </p-select>
    </div>

    <div class="field col-12 sm:col-6 md:col-8 lg:col-8">
      <input
        type="text"
        pInputText
        required
        class="p-inputtext p-inputtext-md"
        formControlName="description"
        [placeholder]="'form.description' | translate"
      />
    </div>
  </div>

  <div class="field">
    <input
      type="text"
      formControlName="obs"
      pInputText
      class="p-inputtext p-inputtext-md"
      [placeholder]="'form.observation' | translate"
    />
  </div>

  <div class="field">
    <p-select
      [options]="projectOptions"
      [placeholder]="'form.projectOptional' | translate"
      optionLabel="name"
      optionValue="code"
      formControlName="projectId"
      appendTo="body"
    ></p-select>
  </div>

  <div class="field placement-field">
    <label for="scheduledDate" class="placement-label">{{ 'form.date' | translate }}</label>
    <p-datepicker
      inputId="scheduledDate"
      formControlName="scheduledDate"
      dateFormat="dd M yy"
      [showIcon]="true"
      [showButtonBar]="true"
      appendTo="body"
      [placeholder]="'form.pickDay' | translate"
    ></p-datepicker>
    <small class="placement-hint">{{ 'form.placementHint' | translate }}</small>
  </div>

  <div class="field where-check">
    <div class="p-field-checkbox">
      <p-checkbox formControlName="notes" [binary]="true" inputId="notes"></p-checkbox>
      <label for="notes">{{ 'form.notes' | translate }}</label>
    </div>
    <div class="p-field-checkbox">
      <p-checkbox formControlName="todo" [binary]="true" inputId="todo"></p-checkbox>
      <label for="todo">{{ 'form.todo' | translate }}</label>
    </div>
  </div>

  <div id="button-div">
    <button
      pButton
      pRipple
      type="submit"
      (keydown.enter)="newItem()"
      [label]="'form.save' | translate"
      class="p-button-raised p-button-success"
      (click)="newItem()"
    ></button>
  </div>
</form>
<p-toast position="bottom-center"></p-toast>
