:host {
  & ::ng-deep {
    form {
      width: 500px;
      display: flex;
      flex-direction: column;
    }

    .p-multiselect-label-container {
      width: 200px !important;
    }

    form .row01 {
      display: grid;
      grid-template-columns: 0.5fr 1.5fr;
      gap: 10px;
    }

    @media (max-width: 600px) {
      form {
        width: 70vw;
        div {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }

    .where-check {
      display: flex;
      justify-content: space-between;
    }

    .where-check div label {
      margin-left: 5px;
    }

    .p-button.p-button-success,
    .p-buttonset.p-button-success {
      width: max-content;
    }

    #button-div {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }

    .p-inputtext {
      width: 100%;
    }

    .p-button {
      background-color: #eec41e;
      border-color: #eec41e;

      &:hover {
        background-color: #ddb517 !important;
        border-color: #ddb517 !important;
      }
    }
  }
}
