<div class="acoes">
    <i class="pi pi-check-square" id="complete" pTooltip="Finished"
        (click)="facade.actionsControl(item._id,'finished', item.where, item.finished); $event.stopPropagation()"></i>
    <i class="pi pi-play" id="started" pTooltip="Started"
        (click)="facade.actionsControl(item._id,'started', item.where, item.started); $event.stopPropagation()"></i>
    <i class="pi pi-pencil" id="edit" pTooltip="Edit" (click)="editDialog(); $event.stopPropagation()"></i>
    <i class="pi pi-exclamation-triangle" id="important" pTooltip="Important"
        (click)="facade.actionsControl(item._id,'important', item.where, item.important); $event.stopPropagation()"></i>
    <i class="pi pi-times" pTooltip="Canceled" id="canceled"
        (click)="facade.actionsControl(item._id,'canceled', item.where, item.canceled); $event.stopPropagation()"></i>
    <i class="pi pi-trash" id="delete" pTooltip="Delete"
        (click)="facade.actionsControl(item._id, 'delete', item.where, null); $event.stopPropagation()"></i>
</div>