<form [formGroup]="form">
  <div class="row01">
    <p-select
      [options]="type"
      placeholder="Type"
      optionLabel="name"
      optionValue="code"
      formControlName="type"
      appendTo="body"
    >
    </p-select>
  </div>

  <input
    type="text"
    pInputText
    class="p-inputtext p-inputtext-md"
    formControlName="description"
    placeholder="Description"
  />

  <input
    type="text"
    formControlName="obs"
    pInputText
    class="p-inputtext p-inputtext-md"
    placeholder="Observation"
  />

  <div class="field">
    <p-select
      [options]="projectOptions"
      placeholder="Project (optional)"
      optionLabel="name"
      optionValue="code"
      formControlName="projectId"
      appendTo="body"
    ></p-select>
  </div>

  <div class="field placement-field">
    <label for="editScheduledDate" class="placement-label">Date</label>
    <p-datepicker
      inputId="editScheduledDate"
      formControlName="scheduledDate"
      dateFormat="dd M yy"
      [showIcon]="true"
      [showButtonBar]="true"
      appendTo="body"
      placeholder="Pick a day for this item"
    ></p-datepicker>
  </div>

  <div class="where-check">
    <div class="p-field-checkbox">
      <p-checkbox formControlName="notes" [binary]="true" inputId="editNotes"></p-checkbox>
      <label for="editNotes">Notes</label>
    </div>
    <div class="p-field-checkbox">
      <p-checkbox formControlName="todo" [binary]="true" inputId="editTodo"></p-checkbox>
      <label for="editTodo">To Do</label>
    </div>
  </div>

  <div id="button-div">
    <button
      pButton
      pRipple
      type="submit"
      (keydown.enter)="editItem()"
      label="Save"
      (click)="editItem()"
      class="p-button-raised p-button-success"
    ></button>
  </div>
</form>

<p-toast position="bottom-center"></p-toast>
